.dashboard-sidebar
  %ul.dashboard-menu
    %li
      %h2
        %a{:href => courses_path}
          %i.icon-circled-left
        = @course.name
    = dashboard_menu_link(dashboard_course_path(course), 'Dashboard', 'line-graph', 'courses', 'show')
    = dashboard_menu_link(edit_dashboard_course_path(course), 'Settings', 'tools', 'courses', 'edit')
    = dashboard_menu_link(edit_dashboard_landing_page_path(course), 'Landing page', 'browser', 'landing_pages', 'edit') do
      = link_to 'Open <i class="icon-chevron-right"></i>'.html_safe, landing_page_path(course.url), :class => 'sidebar-button', :target => '_blank'
    = dashboard_menu_link(dashboard_course_students_path(course), 'Students', 'users', 'students', 'index')