<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'courses/manage_sidebar', course: @course %>
    </div>
    <div class="col-lg-9">
      <% if @course.has_students? %>
        <a href="mailto:<%= @course.students.map { |s| s.email }.join(",") %>" class="btn btn-primary pull-right email-all-link">
          <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email All
        </a>
      <% end %>
      <h2>Enrolled Students</h2>

      <% if @course.has_students? %>
        <table class="table table-striped">
          <thead>
            <th></th>
            <th>Name</th>
            <th>Enrolled</th>
            <th></th>
          </thead>
          <tbody>
          <% @course.students.each do |student| %>
            <tr>
              <td><%= gravatar_for(student.email, class: 'img-rounded', size: 38) %></td>
              <td><%= student.email %></td>
              <td><%= student.reservation_for_course(@course).id %></td>
              <td>
                <a href="mailto:<%= student.email %>" class="btn btn-primary pull-right">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email Student
                </a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
       <p>Ain't no one signed up yet. Shame.</p>
      <% end %>
    </div>
  </div>
</div>

