- content_for :navigation do
  // nothing

#welcome.small.blog
  .head
    = render 'welcome/top_bar'

  .container
    %h2 Enroll Blog

    - @posts.each do |post|
      .post
        %h3.tl
          %a.text{href: blog_post_path(post.url)}= "#{post.title}".html_safe
        = render 'post', post: post, content: post.intro
        - if post.content
          %a.text{href: blog_post_path(post.url)} Read more...

  = render "welcome/footer"