= simple_form_for @user, url: registration_path(:user), html: {class: "form transparent"} do |f|
  = f.simple_fields_for @course do |c|
    = c.input :name, required: false, autofocus: true, label: "Course name", input_html: {autocomplete: 'off'}
    = f.input :name, label: "Your name"
    = f.input :email, input_html: {autocomplete: 'off'}
    = f.input :password
    = f.button :submit, "Sign Up", class: "btn btn-transparent"