- content_for :navigation do
  // nothing

#welcome.small
  .head
    = render 'top_bar'

  .container
    %h3 About Enroll

    .row
      .col-sm-6.tr.about-logo
        = image_tag 'logo-about.png', height: 47
      .col-sm-5
        %p.light.tj
          We started Enroll to solve a simple problem: make it easier for people to teach what they know. Teaching and learning should be simpler.

    %h3 About Us

    .row
      .col-sm-6.about-profile.clearfix
        = image_tag 'jess.png', height: 80
        %h5
          Jess Martin
          %a{:href => "http://jessmart.in/"}<
            %i.icon-home
          %a{:href => "http://github.com/jessmartin/"}<
            %i.icon-social-github
          %a{:href => "http://twitter.com/jessmartin/"}
            %i.icon-social-twitter
        %p.light.tj
          Jess has built and launched dozens of web products. The son of two teachers, he’s passionate about stretching the boundaries of education. He won’t rest until you are teaching a course on Enroll.


      .col-sm-6.about-profile.clearfix
        = image_tag 'vojto.png', height: 80
        %h5
          Vojtech Rinik
          %a{:href => "http://rinik.net/"}<
            %i.icon-home
          %a{:href => "http://github.com/vojto/"}<
            %i.icon-social-github
          %a{:href => "http://twitter.com/_vojto/"}
            %i.icon-social-twitter
        %p.light.tj
          Vojto has been building productivity and collaboration apps since high school. His mission is to put all this amazing technology into hands of students, and see what happens.

    %h3

  = render "footer"