.navbar.navbar-fixed-top
  .container-fluid
    = link_to 'enroll', root_path, :class => 'navbar-brand'

    = render 'layouts/settings_menu'

    - unless instructor_signed_in?
      .btn-group.pull-right
        %button.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#log-in"}
          %span.title Log In
        %button.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#sign-up"}
          %span.title Sign Up

#sign-up.collapse{class: "#{@instructor.errors.any? ? 'in' : ''}"}
  .container
    .row
      = simple_form_for(@instructor, :url => registration_path(:instructor), :html => {:class => "form-horizontal"}) do |f|
        = f.simple_fields_for @course do |c|
          = c.input :name, required: false, autofocus: true, label: "Course Name",
                    label_html: { class: 'col-lg-2' },
                    input_html: { class: 'course-title-popover' }
          = f.input :email, label_html: { class: 'col-lg-2' }
          = f.input :password, label_html: { class: 'col-lg-2' }
          .row
            .col-offset-2
              = f.button :submit, "Sign Up To Teach", class: "btn-primary"

.jumbotron.front-page
  .container
    %h1.logo enroll
    %p You teach.
    %p We take care of the rest.
    %button.btn.btn-primary{"data-toggle" => "collapse", "data-target" => "#sign-up"}
      Sign Up To Teach
%ul
  - Course.all.each do |course|
    %li= link_to course.name, edit_course_path(course)
