.navbar.navbar-fixed-top
  .row
    = link_to 'enroll', root_path, :class => 'navbar-brand'

    - if instructor_signed_in?
      .btn-group.pull-right
        %button.btn.btn-navbar.dropdown-toggle.pull-right{"data-toggle" => "dropdown"}
          %img.img-rounded{src: "/assets/images/profile-default-small.jpg"}
          %span.title
            = current_instructor.display_title
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            %a{href: "#"}
              %span.glyphicon.glyphicon-usd
              %span Payment Settings
          %li
            %a{href: "#"}
              %span.glyphicon.glyphicon-user
              Personal Info
          %li
            %a{href: destroy_instructor_session_path, "data-method" => "delete", rel: "nofollow"}
              %span.glyphicon.glyphicon-remove
              Logout
    - else
      .btn-group.pull-right
        %button.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#log-in"}
          %span.title Log In
        %button.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => "#sign-up"}
          %span.title Sign Up

#sign-up.collapse
  .container
    .row
      = simple_form_for(Instructor.new, :url => registration_path(:instructor), :html => {:class => "form-horizontal"}) do |f|
        .col-lg-7
          = f.input :email, :autofocus => true, label_html: { class: 'col-lg-3' }
          = f.input :password, label_html: { class: 'col-lg-3' }
        .col-lg-5
          = f.button :submit, "Sign up"

.jumbotron.front-page
  .container
    %h1.logo enroll
    %p You teach.
    %p We take care of the rest.
    = link_to 'Sign Up', new_instructor_registration_path, :class => 'btn btn-primary btn-large'
%ul
  - Course.all.each do |course|
    %li= link_to course.name, edit_course_path(course)
