- content_for :navigation do
  // nothing

#welcome
  .head
    = render 'top_bar'

    .about.container
      %h1 You teach.
      %h2 We take care of the rest.

      %a.sign-up.btn.btn-transparent.large{href: current_user ? new_course_dashboard_path : '#'}
        Teach a course
        %i.icon-chevron-right

    .sign-in.container
      = render 'login'

    .sign-up.container
      = render 'signup'

    .spinner
      

  .how-works.container
    %h3
      Enroll is a platform for teaching courses.
      %br/
      We manage the pesky little details.

    .diagram.row
      .part.col-sm-3
        .icon.build
        %span Build a beautiful course page. No designer needed.
      .part.col-sm-3
        .icon.share
        %span Get the word out. Get students. Easy.
      .part.col-sm-3
        .icon.signup
        %span We handle ticketing and payment. So you don't have to.
      .part.col-sm-3
        .icon.teach
        %span You teach. We take care of the rest. Good for us. Good for you.

  .features
    .container
      %h3 Seeing is believing.

      .row
        .feature.col-sm-6
          .row
            .col-sm-5
              %a{href: asset_url('features/landing@2x.png')}
                = image_tag 'features/landing-small@2x.png', class: 'img-responsive'
            .col-sm-7
              %h4 Polished landing pages
              %p In exactly 23.7 seconds, we create a personalized page for your course.
        .feature.col-sm-6
          .row
            .col-sm-5
              %a{href: image_path('features/payment@2x.png')}
                = image_tag 'features/payment-small@2x.png', class: 'img-responsive'
            .col-sm-7
              %h4 Simple and safe payments
              %p Students pay with a credit card via our integrated form. No more sending your students to PayPal.
        .feature.col-sm-6
          .row
            .col-sm-5
              %a{href: image_path('features/pricing@2x.png')}
                = image_tag 'features/pricing-small@2x.png', class: 'img-responsive'
            .col-sm-7
              %h4 Guarantee a full classroom
              %p You only teach if desired number of students enroll. Students only pay if you teach. Everybody wins.
        .feature.col-sm-6
          .row
            .col-sm-5
              %a{href: image_path('features/stats@2x.png')}
                = image_tag 'features/stats-small@2x.png', class: 'img-responsive'
            .col-sm-7
              %h4 Powerful statistics
              %p Keep tabs on your course page's traffic and other useful information.


  .container.tc
    %h3 Don't take our word for it. Try it for yourself.

    %a.sign-up.btn.btn-transparent.large{href: current_user ? new_course_dashboard_path : '#'}
      Teach a course
      %i.icon-chevron-right

  = render "footer"

:coffeescript
  new Welcome(el: '#welcome')