<div class="container">
  <div class="row">
    <div class="col-12">
      <p>You (<%= @student.email %>) have been enrolled as a student in <%= @course.name %>.</p>

      <p>Tell all your friends about it!</p>

      <div>
        <%= share_button(:facebook, course_short_url(@course), 'Share on Facebook') %>
        <%= share_button(:twitter, course_short_url(@course), 'Share on Twitter', "Just enrolled in #{@course.name}. You should be there!") %>
      </div>
      <div class="social-url">
        <small>Or just copy the link:</small>
        <%= text_field_tag('course-url', course_short_url(@course), disabled: true) %>
      </div>
      </p>
    </div>
  </div>
</div>
