<div class="container">
  <div class="row">
    <div class="col-12">
      <p>You (<%= @student.email %>) have been enrolled as a student in <%= @course.name %>.</p>

      <p>Tell all your friends about it!</p>

      <%= share_button(:facebook, course_short_url(@course), 'Facebook') %>
      <%= share_button(:twitter, course_short_url(@course), 'Twitter', "Just enrolled in #{@course.name}. You should be there!") %>
      <%= text_field_tag('course-url', course_short_url(@course), disabled: true) %>
      </p>
    </div>
  </div>
</div>
