.container.course-dashboard
  .row
    %h1.offset.form-offset Sign in

    = simple_form_for :user, url: session_path(:user), html: {class: 'form'} do |f|
      = f.input :email, required: false, autofocus: true, label: 'E-mail:', input_html: {autocomplete: 'off', class: 'medium'}
      = f.input :password, :required => false, label: 'Password:', input_html: {class: 'medium'}
      .form-actions
        = f.button :submit, "Sign in", class: 'btn btn-primary'

        .extra-actions
          = link_to 'Did you forget your password?', restore_account_path