- content_for :head do
  = javascript_include_tag '//assets.transloadit.com/js/jquery.transloadit2-latest.js'

.container.course-dashboard
  = render 'dashboard/courses/header'

  .content.row
    .sidebar.col-sm-4
      = render 'dashboard/courses/sidebar'
    .main.col-sm-8
      %h2 Add resource

      = simple_form_for([:dashboard, @course, @resource], :html => { :id => "upload", :class => "form stacked"}) do |f|
        = f.error_notification
        = transloadit :s3_store
        .form-section.select
          %label#radio-link.radio
            %input.radio_buttons.form-control{type: 'radio', name: 'resource[resource_type]', value: 'link', checked: @resource.link?}
            Link
          %label#radio-file.radio
            %input.radio_buttons.form-control{type: 'radio', name: 'resource[resource_type]', value: 'file', checked: @resource.file?}
            File

        .form-section.file-resource
          = f.input :name
          = f.input :description, as: :text
          = f.input :file, as: :file
        .form-section.link-resource
          = f.input :name
          = f.input :description, as: :text
          = f.input :link, required: true
        .form-actions
          = f.button(:submit, "Save", class: 'btn btn-primary btn-large')

:coffeescript
  new ResourceForm(el: 'form#upload')