// Enroll button isn't displayed when this partial
// is rendered from the form page.

- if enroll_button
  - if enrolled_for?(@course)
    %a.btn.btn-primary.btn-large.disabled Already enrolled
  - else
    - if @course.future?
      = course_reservation_link(@course)
    - elsif @course.campaign_failed?
      %a.btn.btn-primary.btn-large.disabled Course not funded
    - else
      %a.btn.btn-primary.btn-large.disabled Course complete
      
  %hr/
  
.course-stats.row
  .col-sm-4
    %strong= @course.reservations.count
    %small Enrolled
  .col-sm-4
    %strong= reservations_needed(@course)
    %small Needed
  .col-sm-4
    %strong= @course.max_seats
    %small Capacity

%hr/

- if @course.starts_at.present?
  %h4= @course.starts_at.strftime("%B %e, %Y")
  %h5
    = @course.starts_at.strftime("%l:%M %p")
    \-
    \#{@course.ends_at.strftime("%l:%M %p %Z")}
- if @course.location.present?
  %address
    %strong= @course.location.name
    %br/
    = @course.location.address
    %br/
    = @course.location.address_2
    %br/
    = @course.location.city
    , #{@course.location.state}#{@course.location.zip}
    %br/
    %abbr{title: "Phone"} P:
    = @course.location.phone