// Enroll button isn't displayed when this partial
// is rendered from the form page.

- if enroll_button
  - if enrolled_for?(@course)
    %a.btn.btn-primary.btn-large.disabled Already enrolled
  - elsif @course.draft?
    = course_reservation_link(@course, disabled: true, style: course_background_style)
  - else
    - if !@course.starts_at
      %a.btn.btn-primary.btn-large.disabled Date unknown
    - elsif @course.future?
      = course_reservation_link(@course, style: course_background_style)
    - elsif @course.campaign_failed?
      %a.btn.btn-primary.btn-large.disabled Course not funded
    - else
      %a.btn.btn-primary.btn-large.disabled{style: course_background_style} Course complete
- else
  %a.btn.btn-primary.btn-large{href: landing_page_path(@course.url), style: course_background_style}
    %i.icon-chevron-left
    Back to course

%hr/
  
.course-stats.row{style: course_text_style}
  .col-sm-4
    %strong= @course.reservations.count
    %small Enrolled
  .col-sm-4
    %strong= reservations_needed(@course)
    %small Needed
  .col-sm-4
    %strong= @course.max_seats || "?"
    %small Capacity

%hr/

- if @course.starts_at.present?
  .sidebar-large-icon
    %i.icon-calendar

  - if @course.schedules.present?
    = render 'courses/course_schedule'
  - else
    .tc= long_date(@course.starts_at)

  %hr/

- if @course.location.present?
  .sidebar-location
    .sidebar-large-icon
      %i.icon-map
    .tc= @course.location.to_full_s
    %hr/

- if @course.instructor_biography.present?
  .sidebar-large-icon
    = image_tag @course.instructor.avatar.url(:medium), class: 'instructor-avatar', width: 60
  .tc
    %strong Instructor Bio
    %br/
    = @course.instructor_biography


/ - if @course.starts_at.present?
/   %h4= @course.starts_at.strftime("%B %e, %Y")
/   %h5
/     = @course.starts_at.strftime("%l:%M %p")
/     \-
/     \#{@course.ends_at.strftime("%l:%M %p %Z")}
/ - if @course.location.present?
/   %address
/     %strong= @course.location.name
/     %br/
/     = @course.location.address
/     %br/
/     = @course.location.address_2
/     %br/
/     = @course.location.city
/     , #{@course.location.state}#{@course.location.zip}
/     %br/
/     %abbr{title: "Phone"} P:
/     = @course.location.phone