.landing-page-fields
  .form-section
    .pull-right.actions.h1
      %a.preview.btn.btn-success{:href => '#'} Preview

    .form-group.wide
      %h2 Page content
      .controls
        = form.input_field :description, label: 'Page', class: 'large'

    .form-group.wide
      = form.label :instructor_biography, 'About the instructor'
      .controls
        = form.input_field :instructor_biography

:coffeescript
  new LandingPagePreview(
    el: '.landing-page-fields',
    course: #{@course.to_json},
    previewPath: #{preview_course_path(@course).to_json}
  )