<%= form.error_notification %>

<h2>What</h2>
<%= form.input :name %>
<%= form.input :tagline %>
<%= form.input :description %>
<%= form.input :instructor_biography, label: 'Your biography' %>

<h2>When</h2>
<%= form.input :starts_at, as: :string, input_html: { class: 'datepicker' } %>
<%= form.input :ends_at, as: :string, input_html: { class: 'datepicker' } %>

<h2>Where</h2>
<%= form.simple_fields_for(:location) do |location| %>
  <%= location.input :name, label: 'Venue name' %>
  <%= location.input :address %>
  <%= location.input :address_2 %>
  <%= location.input :city %>
  <%= location.input :state %>
  <%= location.input :zip %>
  <%= location.input :phone %>
<% end %>

<h2>
  Pricing
  <small>
    <div class="btn-group" data-toggle="buttons">
      <label id="for-profit" class="btn btn-info active">
        <input type="radio" name="options" id="for-profit"> For Profit
      </label>
      <label id="for-fun" class="btn btn-info">
        <input type="radio" name="options" id="for-fun"> For Fun
      </label>
    </div>
  </small>
</h2>

<div class="row">
  <div class="col-lg-6">

    <%= form.input :min_seats,
                   label: 'Minimum # of Seats',
                   wrapper: 'pricing-block',
                   hint: "If fewer than this number of people sign up, the workshop won't run." %>
    <%= form.input :max_seats,
                   label: 'Maximum # of Seats',
                   wrapper: 'pricing-block',
                   hint: "The most people you can fit in the room, or the most you want to teach to." %>
    <%= form.input :price_per_seat_in_cents,
                   label: 'Cost per Seat',
                   wrapper: 'pricing-block' %>
  </div>
  <div id="revenue-calculator" class="col-lg-6 well">
    <h5 class="text-center upcase">Course Revenue Calculator</h5>

    <table class="table text-right">
      <thead>
        <tr>
          <th></th>
          <th>&nbsp;</th>
          <th class="text-right">Minimum</th>
          <th></th>
          <th class="text-right">Maximum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tickets Sold</td>
          <td>&nbsp;</td>
          <td><span class="min-seats">5</span></td>
          <td></td>
          <td><span class="max-seats">15</span></td>
        </tr>
        <tr>
          <td>Ticket Price</td>
          <td>&nbsp;</td>
          <td>
            <span class="pull-left">&times;</span>
            <span class="ticket-price">$199</span>
          </td>
          <td></td>
          <td>
            <span class="pull-left">&times;</span>
            <span class="ticket-price">$199</span>
          </td>
          </td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>&nbsp;</td>
          <td class="border-top"><strong><span class="min-seat-revenue">$995</span></strong></td>
          <td>&nbsp;</td>
          <td class="border-top"><strong><span class="max-seat-revenue">$2,985</span></strong></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
