%h2.offset Dates

= form.input :starts_at, as: :string, input_html: {class: 'datepicker small', value: form.object.starts_at.try(:strftime, '%Y-%m-%d')}, :required => true
= form.input :ends_at, as: :string, input_html: {class: 'datepicker small', value: form.object.ends_at.try(:strftime, '%Y-%m-%d')}, :required => true

%h2.offset Location

= form.simple_fields_for(:location) do |location|
  = location.input :name, label: 'Venue name'
  = location.input :address
  = location.input :address_2
  = location.input :city
  = location.input :state
  = location.input :zip
  = location.input :phone