.course-schedule
  .form-section
    %h2.bordered.offset Location

    = form.simple_fields_for(:location) do |location|
      = location.input :name, label: 'Venue name'
      = location.input :address
      = location.input :address_2
      = location.input :city
      = location.input :state
      = location.input :zip
      = location.input :phone