.landing-page-fields
  %h2 Course page

  .form-section
    .pull-right.actions.h1
      %a.preview.btn.btn-success{:href => '#'} Preview

    .form-group.wide
      = form.label :image, 'Cover image'

    .form-group.wide
      = form.label :description, 'Page content'
      .controls
        = form.input_field :description, label: 'Page', class: 'large'
      %p.help-block
        Enter text you would like on your landing page. Use the # symbol to mark headings.

    .form-group.wide
      = form.label :instructor_biography, 'About the instructor'
      .controls
        = form.input_field :instructor_biography

:coffeescript
  new LandingPagePreview(
    el: '.landing-page-fields',
    course: #{@course.to_json},
    previewPath: #{preview_course_path(@course).to_json}
  )