.manage-sidebar
  .panel
    .panel-heading
      .progress
        .progress-bar{style: "width: #{percentage_to_full(course)}%;"}
      .funded-label{style: "margin-left: #{percentage_goal(course) - 25}%; width: 50%;"}
        .glyphicon.glyphicon-arrow-up
        Goal
      .row.status-strip
        .col-4
          .quantity
            = course.reservations.count
          .status-label Enrolled
        .col-4
          .quantity
            = reservations_needed(course)
          .status-label Needed
        .col-4
          .quantity
            = days_until_start(course)
          .status-label Days left
    %div.list-group-flush
      %a.list-group-item{href: "#"}
        %span.glyphicon.glyphicon-home
        Dashboard
      %a.list-group-item{href: "#"}
        %span.glyphicon.glyphicon-user
        %span.badge
          = course.reservations.count
        Students
      %a.list-group-item.active{href: edit_course_path(course)}
        %span.glyphicon.glyphicon-cog
        Settings
