.manage-sidebar
  .panel.panel-info
    .panel-heading
      .progress
        .progress-bar{style: "width: #{percentage_to_full(course)}%;"}
      - if course.min_seats
        .funded-label{style: "margin-left: #{percentage_goal(course) - 25}%; width: 50%;"}
          .glyphicon.glyphicon-arrow-up
          .goal-text
            Goal
      .status-strip
        %div
          %span.quantity
            = course.reservations.count
          %span.status-label Enrolled
        %div
          %span.quantity
            = reservations_needed(course)
          %span.status-label Needed
        %div
          %span.quantity
            = days_until_start(course)
          %span.status-label Days left