- content_for :head do
  = facebook_og_meta_tags(@course)

- content_for :navigation do
  / nothing

/ - if !@preview && instructor_logged_in?(@course)
/   %a.landing-button.dashboard{href: dashboard_course_path(@course)}
/     %i.icon-line-graph
/     Go to Dashboard

.container.landing-page
  = render 'layouts/navigation'

  .course-content.row
    - if @course.draft?
      - if instructor_logged_in?(@course)
        %a.draft-ribbon{href: dashboard_course_path(@course)}
      - else
        %a.draft-ribbon

    - if @course.cover_image?
      .course-cover-image{style: cover_image_style(@course)}

    .col-sm-8
      %h1.main= @course.name
      %p!= @markdown.render(@course.description || "")
    .course-sidebar.col-sm-4
      = render 'courses/course_landing_sidebar', enroll_button: true