- content_for :head do
  = facebook_og_meta_tags(@course)

.container
  .course-header
    .course-title
      .course-info
        %strong.price= number_to_currency price_in_dollars(@course.price_per_seat_in_cents)
        %em.location Boston, MA
        %em.date November 22th-25th
      %h2= @course.name
      %h3= @course.tagline

  .course-content.row
    .col-md-9
      %p= @course.description
    .col-md-3
      - if @course.future?
        = course_reservation_link(@course)
      - elsif @course.campaign_failed?
        Course not funded
      - else
        Course complete
      %hr/
      - if @course.starts_at.present?
        %h4= @course.starts_at.strftime("%B %e, %Y")
        %h5
          = @course.starts_at.strftime("%l:%M %p")
          \-
          \#{@course.ends_at.strftime("%l:%M %p %Z")}
      - if @course.location.present?
        %address
          %strong= @course.location.name
          %br/
          = @course.location.address
          %br/
          = @course.location.address_2
          %br/
          = @course.location.city
          , #{@course.location.state}#{@course.location.zip}
          %br/
          %abbr{title: "Phone"} P:
          = @course.location.phone