= render 'admin/env'

.container
  %h1 Send a promotion email

  %a.btn.btn-primary{href: admin_emails_path} Back

  %p
    Every link to <strong>http://enroll.io</strong> will be replaced with a customized link, such as <strong>http://enroll.io/i=XX</strong>.
  %p
    This special link will be generated for every email sent.

  = simple_form_for :email, url: admin_emails_path, html: {class: 'form stacked'} do |f|
    = f.input :event, collection: @available_events, prompt: nil
    = f.input :sender
    = f.input :cc_us, as: :boolean
    = f.input :subject
    = f.input :emails, as: :text, input_html: {class: 'large'}
    = f.input :content, as: :text, input_html: {class: 'large'}

    .form-actions
      = f.button(:submit, "Send", class: 'btn btn-primary btn-large')