.form-section
  %h5 Share

  %div
    = share_button(:facebook, course_short_url(@course), "#{icon('social-s-facebook')} Share on Facebook".html_safe)
    = share_button(:twitter, course_short_url(@course), "#{icon('social-twitter')} Share on Twitter".html_safe, "Just enrolled in #{@course.name}. You should be there!")

  %h5 Course link
  .social-url
    = text_field_tag('course-url', course_short_url(@course), disabled: true)

  :coffeescript
    new SelectableField(el: '.social-url')