.task-list.create
  %h4
    %a.actions.toggle{href: '#'}
      Hide
    %div
      %i.icon-feather
      Create

  %ul.list.tasks.target{class: @course.published? ? 'disabled' : ''}
    = dashboard_check_link_step('Change details', 'details', @course.step_finished?(:details))
    = dashboard_check_link_step('Select date', 'dates', @course.step_finished?(:dates))
    = dashboard_check_link_step('Select location', 'location', @course.step_finished?(:location))
    = dashboard_check_link_step('Set seats & pricing', 'pricing', @course.step_finished?(:pricing))
    = dashboard_check_link_step('Design course page', 'page', @course.step_finished?(:landing_page))
    = dashboard_check_link('Go live', {controller: 'dashboard/courses', action: 'review'}, @course.published?)

:coffeescript
  new CollapsibleList(el: '.task-list.create', id: 'create')

.task-list.manage
  %h4
    %a.actions.toggle{href: '#'}
      Hide
    %div
      %i.icon-suitcase
      Manage

  %ul.list.target{class: !@course.published? ? 'disabled' : ''}
    = dashboard_menu_link(@course.id ? dashboard_course_path(@course) : '', 'Promote', 'rocket', 'courses', 'show')
    = dashboard_menu_link(@course.id ? dashboard_course_students_path(@course) : '', 'Students', 'users', 'students', 'index')
    = dashboard_menu_link(@course.id ? dashboard_course_path(@course) : '', 'Teach', 'graduation-cap', 'courses', 'teach')
    = dashboard_menu_link(@course.id ? edit_dashboard_course_payment_settings_path(@course) : '', 'Get paid', 'credit-card', 'payment_settings', 'edit')

  :coffeescript
    new CollapsibleList(el: '.task-list.manage', id: 'manage')