.container.dashboard
  = render 'dashboard/dashboard_menu', course: @course

  .centered-box.course-review
    - if @course.starts_at.present?
      - if !@course.future?
        .alert.alert-error
          Start date of the course must be in the future.
      - elsif @course.too_soon?
        .alert.alert-error
          The course is scheduled to begin in just
          %strong== #{@course.days_until_start} days.
          You can publish it, but it may be easier to find enough students if you schedule your course at least two weeks from now.


    %h1 Publish course

    Publishing will make the course public and you won't be able to change these details:

    %table.course-details
      %tr
        %th Price:
        %td= course_price_text(@course)
      %tr
        %th Start date:
        %td
          - if @course.starts_at.present?
            = long_date(@course.starts_at)
          - else
            .label.label-error.mini
              %strong Missing
      %tr
        %th End date:
        %td
          - if @course.ends_at.present?
            = long_date(@course.ends_at)
          - else
            .label.label-error.mini
              %strong Missing
      %tr
        %th URL:
        %td= landing_page_url(@course.url)

    .actions
      - if @course.ready_to_publish?
        = link_to "Publish", publish_dashboard_course_path(@course), class: 'btn btn-primary btn-large'
      = link_to "Change details", edit_dashboard_course_path(@course), class: 'btn btn-large btn-default'