.container.dashboard
  = render 'dashboard/dashboard_menu', course: @course

  = render 'draft_warning'

  .row
    .col-sm-6
      = render 'stats'
    .col-sm-6
      %h1 Share
      .share-buttons
        = share_button(:facebook, course_short_url(@course), '<i class="icon-social-s-facebook"></i>'.html_safe)
        = share_button(:twitter, course_short_url(@course), '<i class="icon-social-twitter"></i>'.html_safe)
        %a.social{href: share_dashboard_course_path(@course)}
          %i.icon-link

  %h1 Activity stream

  .event-list
    - for date, events in @events
      %h3= date
      %ul
        - for event in events
          %li{:class => event.event_type}= event