- if user_signed_in?
  %ul#course-dropdown.nav.navbar-nav
    %li
      %a.dropdown-toggle{href: '#', "data-toggle" => "dropdown"}
        - if !@course || @course.new_record?
          .no-course
            Manage my courses
        - else
          = render 'courses/dropdown_course_info', course: @course
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li.create-new
          %a{href: "#{new_course_path}"}
            Create a new course
        - if (current_user.courses_as_instructor.future.count + current_user.courses_as_instructor.without_dates.count) > 0
          %li.divider
            &nbsp;
          %li.dropdown-header Upcoming
          - current_user.courses_as_instructor.future.each do |course|
            %li.course
              %a{href: "#{edit_course_path(course)}"}
                = render 'courses/dropdown_course_info', course: course
          - current_user.courses_as_instructor.without_dates.each do |course|
            %li.course
              %a{href: "#{edit_course_path(course)}"}
                = render 'courses/dropdown_course_info', course: course
        - if current_user.courses_as_instructor.past.count > 0
          %li.divider
            &nbsp;
          %li.dropdown-header Past
          - current_user.courses_as_instructor.past.each do |course|
            %li.past.course
              %a{href: "#{edit_course_path(course)}"}
                = render 'courses/dropdown_course_info', course: course
