<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/head' %>
<body class="<%= body_classes %>">
  <%= render 'layouts/navigation' %>
  <%= render 'shared/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%= render 'layouts/analytics' unless Rails.env == "development" %>
</body>
</html>
