<!DOCTYPE html>
<html lang="en">
<%= render 'layouts/head' %>
<body class="<%= controller_name %> <%= action_name %>" ng-app="EnrollApp">
  <%= render 'layouts/navigation' %>
  <%= render 'shared/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

  <%= render 'layouts/analytics' unless Rails.env == "development" %>
</body>
</html>
