!!!
%html{lang: "en"}
  = render 'layouts/head'
  %body
    - if content_for?(:navigation)
      = yield(:navigation)
    - else
      = render 'layouts/navigation'
    = render 'shared/messages'
    = yield
    = render 'layouts/footer'
    = render 'layouts/analytics' unless Rails.env == "development"