!!!
%html
  %head
    = render 'layouts/head'
  %body{class: "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container-fluid
          = link_to "enroll", root_path, :class => 'navbar-brand'
          .btn-group
            %button.btn.btn-navbar.dropdown-toggle{"data-toggle" => "dropdown"}
              .course-info
                .course-title Ruby for Newbies
                .course-date July 13, 2013
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li.create-new
                %a{href: "#{new_course_path}"}
                  Create a new course
                  %span.glyphicon.glyphicon-plus.pull-right
              %li.title
                %span Upcoming
              %li.course
                %a{href: "#"}
                  .course-info
                    .course-title Ruby for Newbies
                    .course-date July 13, 2013
                  %span.glyphicon.glyphicon-chevron-right
              %li.course
                %a{href: "#"}
                  .course-info
                    .course-title Intro to HTML
                    .course-date August 23, 2013
                  %span.glyphicon.glyphicon-chevron-right
              %li.past.title
                %span Past
              %li.past.course
                %a{href: "#"}
                  .course-info
                    .course-title Ruby for Newbies
                    .course-date February 13, 2013
                  %span.glyphicon.glyphicon-chevron-right
              %li.past.course
                %a{href: "#"}
                  .course-info
                    .course-title Intro to HTML
                    .course-date January 10, 2013
                  %span.glyphicon.glyphicon-chevron-right

          = render 'layouts/settings_menu'

    #main{role: "main"}
      = yield
    %footer
