!!!
%html
  %head
    = render 'layouts/head'
  %body{class: "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container-fluid
          = link_to "enroll.io", root_path, :class => 'navbar-brand'
          .btn-group
            %button.btn.btn-navbar.dropdown-toggle{"data-toggle" => "dropdown"}
              .course-info
                .course-title Ruby for Newbies
                .course-date July 13, 2013
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "#"}
                  .course-info
                    .course-title Ruby for Newbies
                    .course-date July 13, 2013
              %li
                %a{href: "#"}
                  .course-info
                    .course-title Intro to HTML
                    .course-date August 23, 2013
              %li
                %a{href: "#{new_course_path}"}
                  %span.glyphicon.glyphicon-plus
                  Create a new course
          .btn-group.pull-right
            %button.btn.btn-navbar.dropdown-toggle{"data-toggle" => "dropdown"}
              %img{src: "/assets/images/profile-default-small.jpg"}
              %span.title Jess Martin
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "#"}
                  Payment Settings
    #main{role: "main"}
      = yield
    %footer
