!!!
%html
  %head
    = render 'layouts/head'
  %body{class: "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container-fluid
          = link_to "enroll", root_path, :class => 'navbar-brand'
          = render 'layouts/course_chooser'
          = render 'layouts/settings_menu'

    #main{role: "main"}
      = yield
    %footer
